.course {
    width: 300px;
    height: 400px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;

}

.course img {
    width: 286px;
    height: 210px;
    border-radius: 8px;
    margin: 7px;
}

.course-info {
    margin-left: 14px;
    margin-right: 14px;
}

.course-info p {
    margin-top: 5px;
    margin-bottom: 0;
}

.course-name {
    font-weight: 400;
    font-size: 21px;
    margin-top: 7px;
}

.add-button {
    /* padding: 15px 60px; */
    border-radius: 0 0 5px 5px;
    background-color: #a5a5a5;
    border: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.add-button:hover {
    color: white;
    background-color: #755959;
}