.home-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-container {}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 30px;
}

.side-container {
    background-color: #ece8e8;
    position: sticky;
}